body{
    background: linear-gradient(to right, cyan, blue);
}

h1{
    font-size: 40px;
    font-family: Comic Sans MS;
    background: linear-gradient(to right, yellow 40%, rgb(255, 0, 0) 55%, rgb(230, 0, 251) 60%);
    background-clip: text;
    -webkit-text-fill-color: transparent;
    -webkit-text-stroke-width: 2px; 
    -webkit-text-stroke-color: black; 
}

a{
    text-decoration: none;
    color: black;
}

.text:hover{
    background-color: rgb(0, 217, 255);
}
.images{
    display: inline-block;
    margin: 25px;
    background-color: none;
    padding: 0;
    font-family: Comic Sans MS;
    border-radius: 20px;
    box-shadow: 10px 5px 5px midnightblue;
    font-weight: 700;
    font-size: 20px;
    height: 260px;
}

.images img{
    height: 260px;
    display: block;
    border-radius: 20px;
}

.text{
    position: relative;
    bottom: 41px;
    padding: 7px;
    background: rgb(0, 140, 255);
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
}